# Lesson 2 Lab:  Practical Pandas

_This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [2]:
import pandas as pd
import os
import numpy as np

data = pd.read_csv(os.path.join('ozone.csv'))

In [2]:
print data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0     41      190   7.4    67      5    1
1     36      118   8.0    72      5    2
2     12      149  12.6    74      5    3
3     18      313  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

Print the column names of the dataset to the screen, one column name per line.

In [63]:
list(data.columns.values)
list(data)

for x in data.columns.values:
    print x

Ozone
Solar.R
Wind
Temp
Month
Day

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [10]:
print data.head(n=2)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

How many observations (i.e. rows) are in this data frame?

In [66]:
lst = data.head(n=2)
print len(lst)

2

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [67]:
print data.tail(2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [88]:
data.iloc[47]['Ozone']
data.ix[47, 'Ozone']
data.at[47,'Ozone']
print data.ix[46:48,1:3]

    Solar.R  Wind
46    191.0  14.9
47    284.0  20.7
48     37.0   9.2

In [92]:
first_column.isnull().count()

Ozone    153
dtype: int64

In [72]:
first_column.notnull().sum()

Ozone    116
dtype: int64

In [62]:
data.dropna() # get rid of all nulls

     Ozone  Solar.R  Wind  Temp  Month  Day
0     41.0    190.0   7.4    67      5    1
1     36.0    118.0   8.0    72      5    2
2     12.0    149.0  12.6    74      5    3
3     18.0    313.0  11.5    62      5    4
6     23.0    299.0   8.6    65      5    7
7     19.0     99.0  13.8    59      5    8
8      8.0     19.0  20.1    61      5    9
11    16.0    256.0   9.7    69      5   12
12    11.0    290.0   9.2    66      5   13
13    14.0    274.0  10.9    68      5   14
14    18.0     65.0  13.2    58      5   15
15    14.0    334.0  11.5    64      5   16
16    34.0    307.0  12.0    66      5   17
17     6.0     78.0  18.4    57      5   18
18    30.0    322.0  11.5    68      5   19
19    11.0     44.0   9.7    62      5   20
20     1.0      8.0   9.7    59      5   21
21    11.0    320.0  16.6    73      5   22
22     4.0     25.0   9.7    61      5   23
23    32.0     92.0  12.0    61      5   24
27    23.0     13.0  12.0    67      5   28
28    45.0    252.0  14.9    81      5   29
29   115.0    223.0   5.7    79      5   30
30    37.0    279.0   7.4    76      5   31
37    29.0    127.0   9.7    82      6    7
39    71.0    291.0  13.8    90      6    9
40    39.0    323.0  11.5    87      6   10
43    23.0    148.0   8.0    82      6   13
46    21.0    191.0  14.9    77      6   16
47    37.0    284.0  20.7    72      6   17
..     ...      ...   ...   ...    ...  ...
122   85.0    188.0   6.3    94      8   31
123   96.0    167.0   6.9    91      9    1
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4
127   47.0     95.0   7.4    87      9    5
128   32.0     92.0  15.5    84      9    6
129   20.0    252.0  10.9    80      9    7
130   23.0    220.0  10.3    78      9    8
131   21.0    230.0  10.9    75      9    9
132   24.0    259.0   9.7    73      9   10
133   44.0    236.0  14.9    81      9   11
134   21.0    259.0  15.5    76      9   12
135   28.0    238.0   6.3    77      9   13
136    9.0     24.0  10.9    71      9   14
137   13.0    112.0  11.5    71      9   15
138   46.0    237.0   6.9    78      9   16
139   18.0    224.0  13.8    67      9   17
140   13.0     27.0  10.3    76      9   18
141   24.0    238.0  10.3    68      9   19
142   16.0    201.0   8.0    82      9   20
143   13.0    238.0  12.6    64      9   21
144   23.0     14.0   9.2    71      9   22
145   36.0    139.0  10.3    81      9   23
146    7.0     49.0  10.3    69      9   24
147   14.0     20.0  16.6    63      9   25
148   30.0    193.0   6.9    70      9   26
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

[111 rows x 6 columns]

In [89]:
import numpy as np
first_column = data.iloc[:,[0]] #data.ix[:,[0]]
first_column

     Ozone
0     41.0
1     36.0
2     12.0
3     18.0
4      NaN
5     28.0
6     23.0
7     19.0
8      8.0
9      NaN
10     7.0
11    16.0
12    11.0
13    14.0
14    18.0
15    14.0
16    34.0
17     6.0
18    30.0
19    11.0
20     1.0
21    11.0
22     4.0
23    32.0
24     NaN
25     NaN
26     NaN
27    23.0
28    45.0
29   115.0
..     ...
123   96.0
124   78.0
125   73.0
126   91.0
127   47.0
128   32.0
129   20.0
130   23.0
131   21.0
132   24.0
133   44.0
134   21.0
135   28.0
136    9.0
137   13.0
138   46.0
139   18.0
140   13.0
141   24.0
142   16.0
143   13.0
144   23.0
145   36.0
146    7.0
147   14.0
148   30.0
149    NaN
150   14.0
151   18.0
152   20.0

[153 rows x 1 columns]

How many missing values are in the Ozone column of this data frame?

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [94]:
first_column.mean()

Ozone    42.12931
dtype: float64

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [97]:
print data[(data.Ozone > 31) & (data.Temp > 90)].head()
a = data[(data.Ozone > 31) & (data.Temp > 90)]
a.describe()

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30

            Ozone     Solar.R       Wind       Temp      Month        Day
count   10.000000   10.000000  10.000000  10.000000  10.000000  10.000000
mean    89.500000  212.800000   5.600000  93.400000   8.200000  14.500000
std     13.360389   36.039485   2.107131   1.897367   0.788811  13.159281
min     73.000000  167.000000   2.300000  91.000000   7.000000   1.000000
25%     79.500000  188.250000   4.725000  92.000000   8.000000   3.250000
50%     88.000000  200.000000   6.000000  93.000000   8.000000   8.500000
75%     96.750000  234.000000   6.300000  94.000000   9.000000  28.750000
max    118.000000  272.000000   9.700000  97.000000   9.000000  31.000000

What is the mean of "Temp" when "Month" is equal to 6?

In [99]:
print data[data.Month == 6].Temp.mean()

79.1

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [101]:
print data[data.Month==5].Ozone.max()

115.0

In [103]:
print data[data.Month==5].Ozone.max()
#data.Ozone.mean?
#data.TAB

115.0

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with eamples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas